tr {
  td {
    border: 1px solid;
    .topRow {
      display: table;
      width: 100%;
      &:not(:last-child) {
        border-bottom: 1px solid;
      }

      > div {
        line-break: anywhere;

        vertical-align: middle;
        display: table-cell;
        width: 50px;
        padding: 1px 3px 1px 3px;
        &:not(:first-child) {
          border-left: 1px solid;
          text-align: center;
        }

        &.cell-lg {
          width: 150px;
        }
        &.cell-md {
          width: 75px;
        }
      }
      &.row-value {
        height: 40px;
      }
    }
  }
}
